@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .grid-rows-layout {
    grid-template-rows: auto 1fr auto;
  }
}

body {
  background-color: var(--background);
}

:root {
  --color-text-primary: #212529;
  --color-text-secondary: #495057;
  --color-text-muted: #adb5bd;
  --color-text-inverted: #f8f9fa;

  --header: #ede7f6;
  --background: #f2f2f3;
  --foreground: #fff;

  --success: #22c55e;
  --error: #ef4444;
}

.dark {
  --color-text-primary: #bfbfbf;
  --color-text-secondary: #8f8f8f;
  --color-text-muted: #5f5f5f;
  --color-text-inverted: #1a202c;

  --header: #252527;
  --background: #0a0a0a;
  --foreground: #1c1c1c;

  --success: #4ade80;
  --error: #f87171;
}
